<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Connexion</title>

    <!-- Pour lier la page html au css -->
    <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css" />

    <!-- C'est le CDN de bootstrap pour que le site soit responsive  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Polices -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container-fluid index">
        <div class="row form-item d-flex justify-content-center">
            <form action="" method= "post">
                <div class="form-group">
                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Adresse mail" value = "{{   
                        request.form.email}}">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe" value = "{{   
                        request.form.password}}">
                </div>
                    <button type="submit" class="bt btn-3">Se connecter</button>
            </form>
            {% if error == True %}
                <p>Les informations entrées ne sont valides</p>
            {% endif%}
        </div>
      
        <div class=" row mt-3 d-flex justify-content-center">
            <a href="{{ url_for('sign_up') }}"><button type="submit" class="btn-5">S'inscrire</button></a>
        </div> 
            
    </div>

    <footer class="fixed-bottom">
        <p>©2019 FOOD SOCIAL NETWORK</p>
    </footer>
</body>
</html>